<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="admin/layouts/layout">
    <body>
        <div layout:fragment="title">
            <h1>Administrative panel</h1>
        </div>
        <div layout:fragment="content">
            <p class="lead">This is a paragraph from content page 1</p>
            <p>Use <a href="../sticky-footer-navbar">the sticky footer with a fixed navbar</a> if need be, too.</p>
        </div>
        <footer>
            <p layout:fragment="custom-footer">This is some footer content from content page 1</p>
        </footer>
    </body>
</html>